= render "layouts/main_header"
.y-bread
  %span
    - breadcrumb :logout
    = render "user/bread"
%main.ta-side-bar
  = render "user/mypage_sidebar"
  .ta-right-cotainer
    .ta-right-container__box
      %button.ta-button 
        ログアウト
= render "items/main_aside"
= render "layouts/main_footer" 
= render "items/exhibit_btn"