%body
  %header.ta-re-header
    %h1.ta-re-header__logo
      = link_to image_tag src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308"
      

    .ta-re-header__progress
      %ul.progress
        %li.active
          会員情報
          .bubble.bubble-first
        %li
          電話番号認証
          .bubble
        %li
          お届け先住所入力
          .bubble
        %li
          支払い方法
          .bubble
        %li
          完了
          .bubble.bubble-last
  %main.ta-re-main
    %section.ta-re-main__container
      .ta-re-main__container__logo
        会員情報入力

      = form_for @user, url: new2_registrations_path,method: :get do |f| 
        .ta-re-main__container__form__content
          .ta-re-main__container__form__content__group
            - if @user.errors.any?
              .chat-group-form__errors
                -# %h1= "#{@user.errors.full_messages.count}件のエラーが発生しました。"
                %ul
                  - @user.errors.full_messages.each do |message|
                    %li= message
            = f.label :nickname ,"ニックネーム"
            %span
              必須
            = f.text_field :nickname, autofocus: true, placeholder: "例）メルカリ太郎"
          .ta-re-main__container__form__content__group
            = f.label :email ,"メールアドレス"
            %span
              必須
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
          .ta-re-main__container__form__content__group
            = f.label :password,"パスワード"
              
            %span
              必須
            = f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上"
          .ta-re-main__container__form__content__group
            = f.label :password_confirmation,"パスワード(確認)"
             
            %span
              必須
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上"
          .ta-re-main__container__form__content__group
            %h3
              本人確認
            %p
              安心・安全にご利用いただくために、お客様の本人
              情報の登録にご協力ください。他のお客さまに公開
              されることはありません。
          .ta-re-main__container__form__content__half
            = f.label :name,"お名前(全角)"
            %span
              必須
            .box
              = f.text_field :last_name, autofocus: true, placeholder: "例）山田"
              = f.text_field :first_name, autofocus: true ,class: "right", placeholder: "例）彩"
          .ta-re-main__container__form__content__half
            = f.label :reading,"お名前カナ(全角)" 
            %span
              必須
            .box
              = f.text_field :last_name_kana, autofocus: true, placeholder: "例）ヤマダ"
              = f.text_field :first_name_kana, autofocus: true,class: "right", placeholder: "例）アヤ"
          .ta-re-main__container__form__content__birth
            .box
              = f.label :birthday,"生年月日"
            
              %span.ta-re-main__container__form__content__birth__span
                必須
              %div.ta-re-main__container__form__content__birth__bigbox
                %div
                  = f.text_field :birth_day,class: "year", placeholder: "例) 1999"
                  = f.text_field :birth_year,class:"day", placeholder: "例）7"
                  = f.text_field :birth_month,class: "month", placeholder: "例）12"

                  -# != sprintf(f.date_select(:birth_year,class:"box", prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
                
          %p.ta-re-main__container__form__content__text
            ※ 本人情報は正しく入力してください。会員登録後、
            修正するにはお時間を頂く場合があります。

          .ta-re-main__container__form__content__robot
            私はロボットではありません

          %p.ta-re-main__container__form__content__centertext
            「次へ進む」のボタンを押すことにより、利用規約に
            同意したものとみなします
          
          = f.submit "次へ進む", class:"ta-re-main__container__form__content__btnred"
            
          %a.ta-re-main__container__form__content__link
            本人情報の登録について＞
  
  %footer.ta-re__footer
    %nav.ta-re__footer__nav
      %div.ta-re__footer__a
        = link_to "プライバシーポリシー","#",class: "ta-single__footer__c"
        = link_to "メルカリ利用規約","#",class: "ta-single__footer__c"
        = link_to "特定商取引に関する表記","#",class: "ta-single__footer__c"
    = link_to "#" do
      = image_tag src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3761641567", class: "ta-re__footer__logo"
    %p.ta-re__footer__b 2019 Mercari
