.y-default-container
  = render "layouts/main_header"
  %nav.y-bread-crumbs
    %ul
      %li.y-left-list{itemscope: "", itemtype: "#"}
        %a{href: "https:", itemprop: "url"}
          %span{itemprop: "title"} メルカリ
          %i.fas.fa-chevron-right
      %li.center-list{itemscope: "", itemtype: "#"}
        %a{href: "https:", itemprop: "url"}
          %span{itemprop: "title"} マイページ

  %main.y-container
    .y-content
      %section.y-mypage-user-icon
        %a{href: "#"}
          %figure
            = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60", height: "60"
          %h2.y-bold 山本修二
          .y-mypage-number
            %p.y-left-string 評価
            %span.y-bold 0
            %p.y-right-string 出品数
            %span.y-bold 0
      %section.y-mypage-tab-container-notification-todo
        %ul.y-mypage-tabs
          %li.active
            %h3
              %a{href: "#", "data-toggle" => "tab"}お知らせ
          %li.active
            %h3
              %a{href: "#", "data-toggle" => "tab"}やることリスト
        .y-tab-content
          %ul#y-mypage-tab-notification.y-mypage-item-list.tab-pane
            %li
              %a.y-mypage-item-link{"data-modal" => "banner", "data-open" => "modal", href: ""}
                %figure
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "メルカリの箱みたいなやつ"}/
                .y-mypage-item-body
                  .y-mypage-item-text 仮置き
                  %time
                    %i.icon-time
                    %span ◯時間前
                %i.y-icon-arrow-right
          %ul#y-mypage-tab-todo.y-mypage-item-list.tab-pane
            %li.y-mypage-item-not-found.bold 現在やることリストはありません
      %section.y-mypage-tab-container
        %h2.y-mypage-tab-head 購入した商品
        %ul.mypage-tabs
          %li
            %h3
              %a{href: "#mypage-tab-transaction-now", "data-toggle" => "tab"} 取引中
          %li.active
            %h3
              %a{href: "#mypage-tab-transaction-old", "data-toggle" => "tab"} 過去の取引
        .y-tab-content
          %ul#y-mypage-tab-transaction-now.y-mypage-item-list.tab-pane
            %li.y-mypage-item-not-found.bold 取引中の商品がありません
          %ul#y-mypage-tab-transaction-old.y-mypage-item-list.tab-pane
            %li.y-mypage-item-not-found.bold 過去に取引した商品がありません

    .y-sidebar
      = render "mypage_sidebar"
  = render "items/exhibit_btn"
  = render "items/main_aside"
  = render "layouts/main_footer" 