.y-default-container
  = render "layouts/main_header"
  
  %nav.y-bread-crumbs
    %ul
      %li.y-left-list
        = link_to "#" do
          %span メルカリ
          %i.fas.fa-chevron-right
      %li.center-list
         = link_to "#" do
          %span マイページ

  .y-mypage-container
    .y-mypage-content
      %section.y-mypage-user
        = link_to "#" do
          %figure
            = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60", height: "60"
          %h2.y-bold 山本修二
          .y-mypage-user__number
            %p.y-mypage-user__evaluation 評価
            %span.y-bold 0
            %p.y-mypage-user__number-of-exhibits 出品数
            %span.y-bold 0

      %section.y-mypage-information
        %ul.y-mypage-information__header
          %li.y-mypage-information__notification
            =link_to '#' do
              お知らせ
          %li.y-mypage-information_todo
            =link_to '#' do
              やることリスト

      .y-mypage-tab-content
        %ul.y-mypage-tab__notification
          %li
            = link_to "#", class: "y-mypage-item__link" do
              %figure
                .y-mypage-item
                  .y-mypage-item__image
                    = image_tag "mercari_profile.png", alt: "mercari", class: "default-image", height: "48px", width: "48px"
              .y-mypage-item__body
                %p.y-mypage-item__text
                  《速報》今なら販売手数料が実質無料！出品が超お得♪
                  %time
                    %i.fal.fa-clock
                    %span 6時間前
              %i.fas.fa-chevron-right

          %li
            = link_to "#", class: "y-mypage-item__link" do
              %figure
                .y-mypage-item
                  .y-mypage-item__image
                    = image_tag "mercari_profile.png", alt: "mercari", class: "default-image", height: "48px", width: "48px"
              .y-mypage-item__body
                %p.y-mypage-item__text
                  《今なら販売手数料実質無料！》詳しくはこちらから♪
                  %time
                    %i.fal.fa-clock
                    %span 6時間前
              %i.fas.fa-chevron-right

          .y-mypage-go-list
            = link_to '#' do
              一覧を見る

      .y-mypage-tab-container
        .y-mypage-tab-head 購入した商品
        %ul.y-mypage-tabs
          %li.y-mypage-tabs-left
            =link_to "#" do
              取引中
          %li.y-mypage-tabs-right
            = link_to "#" do
              過去の取引
        .y-mypage-tab-content
          %ul.y-mypage-item-list
            %li.y-mypage-item-list__not-found 取引中の商品がありません

    .y-sidebar
      = render "mypage_sidebar"
  = render "items/main_aside"
  = render "layouts/main_footer" 
  = render "items/exhibit_btn"