- @other_items.each do |item|
  .ta-items__contents__content
    = link_to "#" do
      - item.image.each_with_index do|image,index|
        - if index == 0
          = image_tag ("#{image.image}")
          .ta-items__contents__content__body
            %h3
              = item.name
            .ta-itemprice
              = item.price.to_s(:delimited)
            .ta-like
              %i.far.fa-heart
              %span
                2    