%aside.m-aside
  .m-aside__container
    .m-aside__container__left
      .m-aside__container__left__top
        スマホでかんたんフリマアプリ
      .m-aside__container__left__center
        今すぐ無料ダウンロード！
      .m-aside__container__left__low
        = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png', height: '68px', width: '68px', class: 'mercari-icon'
        = link_to "#" do
          = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', height: '40px', width: '144px;', class: 'app-store-icon'
        = link_to "#" do
          = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', alt: '', height: '40px', width: '144px', class: 'google-play-icon'
    %figure
      = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png', alt: '', height: '260px', width: '300px'