= render 'layouts/main_header'
.m-card-information-container
  = render 'user/mypage_sidebar'
  .m-card-information-container__chapter
    .m-card-information-container__chapter__head
      クレジットカード情報入力
    .m-card-information-container__chapter__inner
      .m-card-information-container__chapter__inner__content
        = form_with url: "#", class: "card-information-form" do |f|
          .m-card-information-container__chapter__inner__content__number-group
            = f.label :card_number, "カード番号"
            %span 必須
            = f.text_field :card_number, class: "form-group", placeholder: "半角数字のみ"
            .m-card-information-container__chapter__inner__content__number-group__icons
            %ul
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3466462615', height: '20px', width: '49px'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3466462615', height: '20px', width: '34px'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3466462615', height: '20px', width: '30px'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3466462615', height: '20px', width: '32px'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3466462615', height: '20px', width: '21px'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3466462615', height: '20px', width: '32px'
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3466462615', height: '20px', width: '32px'
          .m-card-information-container__chapter__inner__content__code-group
            = f.label :security_code, "セキュリティコード"
            %span 必須
            = f.text_field :security_code, class: "form-group", placeholder: "カード背面4桁もしくは3桁の番号"







= form_with url: "#" do |f|
  = f.text_field :search
= render 'exhibit_btn'
= render 'main_aside'
= render 'layouts/main_footer'