= render "layouts/main_header"

.m-wrapper
  .m-wrapper__slider
    %ul.m-wrapper__slider__pictures
      %li.m-wrapper__slider__pictures--picture1
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png", size: "440x390", class: ""
      %li.m-wrapper__slider__pictures--picture2
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png", size: "440x390"
      %li.m-wrapper__slider__pictures--picture3
        = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png", size: "440x390"
  = render "exhibit_btn"
  = render "main_aside"
  = render "layouts/main_footer"